{% extends 'base.html.twig' %}

{% block title %}Mon compte - Au Coin du Feu{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    Bienvenue {{ app.user.firstname }}.
    <br>
    C'est dans cet espace que vous pouvez gérer vos informations personnelles.
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    - Ajouter mes adresses
    - Avoir une page de gestion de commandes
    <hr>

{% endblock %}
