{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

    <!-- Three columns of text below the carousel -->
    <h3 class="text-center">Nouvel arrivage</h3>
    <div class="row">
        {%  for product in products %}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 style="text-align: right">La bouquinerie
                <br>
                <span class="text-muted">Venez dans une boutique chaleureuse à l'ambiance feutrée</span>
            </h3>
            <br>
            <p class="lead" style="text-align: justify">Nous sommes acheteurs de livres anciens et rares auprès de particuliers. Notre domaine d’expertise concerne
                principalement les alsatiques, mais il recouvre également tout domaine de la bibliophilie :
                éditions originales en littérature, livres de droit, sciences, Histoire, …
                <br>
                <br>
                N’hésitez pas à consulter la rubrique “Nos livres” de ce site afin de vous faire une idée.
                Nous attachons une grande importance à l’état des livres, à l’image de ceux que nous proposons dans notre librairie.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/features/boutique.jpg') }}" class="img-fluid w-90" alt="Bouquinerie Au Coin du Feu">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h3>Vous souhaitez vendre vos ouvrages ?
                <br>
                <span class="text-muted">Nous reprenons vos livres anciens</span>
            </h3>
            <br>
            <p class="lead" style="text-align: justify">
                Afin de pouvoir vous répondre dans les meilleurs délais, nous aurons besoin d’un certain nombre d’informations :
                titre, auteur, éditeur, année d’édition, type de reliure, état de conservation.
                <br>
                <br>
                À réception de ces informations, nous vous demanderons le cas échéant de nous transmettre des photographies :
                page de titre, reliure, défauts éventuels.
                <br>
                L’estimation au cas par cas s’effectue ensuite en librairie, sur rendez-vous.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/features/vente.jpg') }}" class="img-fluid w-120" alt="Vente Au Coin du Feu">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 style="text-align: right">Vous souhaitez faire estimer vos ouvrages ?
                <br>
                <span class="text-muted">Contactez-nous pour expertiser vos livres</span>
            </h3>
            <br>
            <p class="lead" style="text-align: justify">À votre demande, nous examinons votre bibliothèque/vos ouvrages afin d’établir
                une estimation en cohérence avec le marché, que nous garantissons par un document écrit.
                <br>
                <br>
                Dans le cadre de l’expertise d’une bibliothèque complète, après un premier contact téléphonique
                ou par mail (mentionnant les informations sus-nommées), nous nous déplaçons volontiers à domicile.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/features/expertise.jpg') }}" class="img-fluid" alt="Expertise Au Coin du Feu">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}


