{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Au Coin du Feu{% endblock %}

{% block content %}
    <br>
    <h3>Nous contacter</h3>
    <br>
    <p>N'hésitez pas à vous contacter, nous vous répondrons dans les meilleurs délais.</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4" style="text-align: center">
            <img src="{{ asset('assets/img/AuCoinDuFeuLogo.png') }}" class="img-fluid" alt="Logo Au Coin du Feu" width="250px">
            <br>
            <hr>
            <br>
            <strong>Adresse : </strong>8 Rue des Lilas<br>75100 PARIS
            <br><br>
            <strong>Horaires : </strong>Du mardi au samedi<br>09H30 - 18H30
            <br><br>
            <strong>Téléphone :</strong> 06.57.12.54.98
            <br><br>
            <strong>Mail : </strong>andre.claudel.bouquiniste@gmail.com
        </div>
    </div>

{% endblock %}

